<h2>Carteira</h2>

<% if current_user.try(:wallet) %>
  <%= current_user.wallet.balance %><br />

  <hr /><br />

  <%= render partial: 'installments/index', locals: { installments: @installments } %>
<% end %>
