<h1>Bem vindo!</h1>

<%= link_to I18n.t('sign_in'), new_user_session_path %>
<%= link_to I18n.t('sign_up'), new_user_registration_path %>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
