.flash {
  position:fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: var(--space-s);

  max-width: 100%;
  width: max-content;
  padding: 0 var(--space-m);

  &__message {
    font-size: var(--font-size-s);
    color: white;
    padding: var(--space-xs) var(--space-m);
    background-color: black;
    animation: appear-then-fade 999s both;
    border-radius: 999px;
  }
}
